$primary: #f77f00;
$background: #fff3b0;
$success: #219ebc;
$danger: #d62828;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: $background;
}

#card-body {
  background-color: #fcbf49;
}

#cookie-jar {
  width: 35px;
}
